@keyframes rotate {
  0% {
    transform: translateY(0%);
  }
  10% {
    transform: translateY(-10%);
  }
  20% {
    transform: translateY(-20%);
  }
  30% {
    transform: translateY(-30%);
  }
  40% {
    transform: translateY(-40%);
  }
  50% {
    transform: translateY(-50%);
  }
  60% {
    transform: translateY(-60%);
  }
  70% {
    transform: translateY(-70%);
  }
  80% {
    transform: translateY(-80%);
  }
  90% {
    transform: translateY(-90%);
  }
  100% {
    transform: translateY(-100%);
  }
}

body {
  font-family: "Black Han Sans", sans-serif;
  background-color: #d3ccba;
}

.content {
  margin-top: 40px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.content__text-top {
  color: #9d7c57;
  font-size: 50px;
  margin-bottom: 50px;
}

.content__main {
  border-radius: 10px;
  background-color: white;
  color: #66402f;
  overflow: hidden;
  text-align: center;
  margin-bottom: 50px;
  font-size: 80px;
  height: 100px;
  line-height: 120px;
}

.content__main__list {
  animation: rotate 0.5s ease-in-out infinite;
}
.content__main__list:hover {
  animation-play-state: paused;
  background-color: #66402f;
  color: white;
}

.content__text-bottom {
  font-size: 50px;
  color: #9d7c57;
  margin-bottom: 100px;
}
.copyright {
  font-size: 11px;
}
